.homepage {
    background-image: url('../assets/images/homepagebg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;

    .zevi-logo {
        position: fixed;
        top: 10px;
        right: 25px;
        width: 50px;
        height: 50px;
    }
}