// SearchBar.scss

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border-right: none;
    outline: none;
    /* Remove the right border */
}

.search-container:focus .search-input :focus {
    outline: none;
}

:hover {
    .search-container  .search-input {
        cursor: pointer;
    }
}

// SearchBar.scss

.search-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    border: none;
    /* Remove the border */
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border-right: none;
    /* Remove the right border */
}

.search-button {
    border: 0px solid #ccc;
    background: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 10px;

    img {
        width: 20px; // Adjust the width of the search icon as needed
        height: 20px; // Adjust the height of the search icon as needed
    }
}